In [701]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score, cohen_kappa_score
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
import warnings
warnings.filterwarnings('ignore')
matplotlib.rcParams["figure.facecolor"] = 'FFFFFF'
matplotlib.rcParams['figure.dpi'] = 100

In [734]:
data = pd.read_excel('online_retail_II.xlsx', [0, 1])

In [735]:
data = pd.concat([data[0], data[1]], ignore_index=True)

In [736]:
data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [737]:
print(len(data))
data['Quantity'] = data['Quantity'].abs()
# data = data.drop_duplicates(subset=['StockCode', 'Quantity', 'Price', 'Customer ID'])
print(len(data))

1067371
1067371

In [ ]:
print(data.columns)
pairs = 0
for i, row in enumerate(data[data['Invoice'].str[0] == 'C'].values):
    duplicates_found = data[data['StockCode'] == row[1]][data['Customer ID'] == row[6]][data['Quantity'] == -row[3]]
    if(len(duplicates_found) != 2):
        print(f'#{i}')
        print(row)
        print(duplicates_found)
        print(f"{pairs} / {i}")
        print('\n\n\n')
    else:
        pairs += 1

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'Cancelled'],
      dtype='object')
#0
['C489449' 22087 'PAPER BUNTING WHITE LACE' -12
 Timestamp('2009-12-01 10:33:00') 2.95 16321.0 'Australia' True]
    Invoice StockCode               Description  Quantity         InvoiceDate  \
187  489450     22087  PAPER BUNTING WHITE LACE        12 2009-12-01 10:36:00

     Price  Customer ID    Country  Cancelled
187   2.95      16321.0  Australia      False
0 / 0




#1
['C489449' '85206A' 'CREAM FELT EASTER EGG BASKET' -6
 Timestamp('2009-12-01 10:33:00') 1.65 16321.0 'Australia' True]
    Invoice StockCode                   Description  Quantity  \
188  489450    85206A  CREAM FELT EASTER EGG BASKET         6

            InvoiceDate  Price  Customer ID    Country  Cancelled
188 2009-12-01 10:36:00   1.65      16321.0  Australia      False
0 / 1




#2
['C489449' 21895 "POTTING SHED SOW 'N' GROW SET" -4
 Timestamp('2009-12-01 10:33:00') 4.25 16321.0 'Australia' True]
    Invoice StockCode                    Description  Quantity  \
189  489450     21895  POTTING SHED SOW 'N' GROW SET         4

            InvoiceDate  Price  Customer ID    Country  Cancelled
189 2009-12-01 10:36:00   4.25      16321.0  Australia      False
0 / 2




#3
['C489449' 21896 'POTTING SHED TWINE' -6 Timestamp('2009-12-01 10:33:00')
 2.1 16321.0 'Australia' True]
    Invoice StockCode         Description  Quantity         InvoiceDate  \
190  489450     21896  POTTING SHED TWINE         6 2009-12-01 10:36:00

     Price  Customer ID    Country  Cancelled
190    2.1      16321.0  Australia      False
0 / 3




#4
['C489449' 22083 'PAPER CHAIN KIT RETRO SPOT' -12
 Timestamp('2009-12-01 10:33:00') 2.95 16321.0 'Australia' True]
    Invoice StockCode                 Description  Quantity  \
191  489450     22083  PAPER CHAIN KIT RETRO SPOT        12

            InvoiceDate  Price  Customer ID    Country  Cancelled
191 2009-12-01 10:36:00   2.95      16321.0  Australia      False
0 / 4




#5
['C489449' 21871 'SAVE THE PLANET MUG' -12
 Timestamp('2009-12-01 10:33:00') 1.25 16321.0 'Australia' True]
    Invoice StockCode          Description  Quantity         InvoiceDate  \
192  489450     21871  SAVE THE PLANET MUG        12 2009-12-01 10:36:00

     Price  Customer ID    Country  Cancelled
192   1.25      16321.0  Australia      False
0 / 5




#6
['C489449' 84946 'ANTIQUE SILVER TEA GLASS ETCHED' -12
 Timestamp('2009-12-01 10:33:00') 1.25 16321.0 'Australia' True]
    Invoice StockCode                      Description  Quantity  \
193  489450     84946  ANTIQUE SILVER TEA GLASS ETCHED        12

            InvoiceDate  Price  Customer ID    Country  Cancelled
193 2009-12-01 10:36:00   1.25      16321.0  Australia      False
0 / 6




#7
['C489449' '84970S' 'HANGING HEART ZINC T-LIGHT HOLDER' -24
 Timestamp('2009-12-01 10:33:00') 0.85 16321.0 'Australia' True]
    Invoice StockCode                        Description  Quantity  \
194  489450    84970S  HANGING HEART ZINC T-LIGHT HOLDER        24

            InvoiceDate  Price  Customer ID    Country  Cancelled
194 2009-12-01 10:36:00   0.85      16321.0  Australia      False
0 / 7




#8
['C489449' 22090 'PAPER BUNTING RETRO SPOTS' -12
 Timestamp('2009-12-01 10:33:00') 2.95 16321.0 'Australia' True]
    Invoice StockCode                Description  Quantity  \
195  489450     22090  PAPER BUNTING RETRO SPOTS        12

            InvoiceDate  Price  Customer ID    Country  Cancelled
195 2009-12-01 10:36:00   2.95      16321.0  Australia      False
0 / 8




#9
['C489459' '90200A' 'PURPLE SWEETHEART BRACELET' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode                 Description  Quantity  \
252  489462    90200A  PURPLE SWEETHEART BRACELET         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
252 2009-12-01 10:49:00   4.25      17592.0  United Kingdom      False
0 / 9




#10
['C489459' '90200D' 'PINK SWEETHEART BRACELET' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode               Description  Quantity         InvoiceDate  \
244  489462    90200D  PINK SWEETHEART BRACELET         3 2009-12-01 10:49:00

     Price  Customer ID         Country  Cancelled
244   4.25      17592.0  United Kingdom      False
0 / 10




#11
['C489459' '90200B' 'BLACK SWEETHEART BRACELET' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode                Description  Quantity  \
254  489462    90200B  BLACK SWEETHEART BRACELET         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
254 2009-12-01 10:49:00   4.25      17592.0  United Kingdom      False
0 / 11




#12
['C489459' '90200E' 'GREEN SWEETHEART BRACELET' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode                Description  Quantity  \
245  489462    90200E  GREEN SWEETHEART BRACELET         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
245 2009-12-01 10:49:00   4.25      17592.0  United Kingdom      False
0 / 12




#13
['C489459' '90200C' 'BLUE SWEETHEART BRACELET' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode               Description  Quantity         InvoiceDate  \
253  489462    90200C  BLUE SWEETHEART BRACELET         3 2009-12-01 10:49:00

     Price  Customer ID         Country  Cancelled
253   4.25      17592.0  United Kingdom      False
0 / 13




#14
['C489459' '90185C' 'BLACK DIAMANTE EXPANDABLE RING' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode                     Description  Quantity  \
255  489462    90185C  BLACK DIAMANTE EXPANDABLE RING         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
255 2009-12-01 10:49:00   4.25      17592.0  United Kingdom      False
0 / 14




#15
['C489459' '90185B' 'AMETHYST DIAMANTE EXPANDABLE RING' -3
 Timestamp('2009-12-01 10:44:00') 4.25 17592.0 'United Kingdom' True]
    Invoice StockCode                        Description  Quantity  \
256  489462    90185B  AMETHYST DIAMANTE EXPANDABLE RING         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
256 2009-12-01 10:49:00   4.25      17592.0  United Kingdom      False
0 / 15




#16
['C489459' '90003C' 'MIDNIGHT BLUE PAIR HEART HAIR SLIDE' -3
 Timestamp('2009-12-01 10:44:00') 3.75 17592.0 'United Kingdom' True]
    Invoice StockCode                          Description  Quantity  \
257  489462    90003C  MIDNIGHT BLUE PAIR HEART HAIR SLIDE         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
257 2009-12-01 10:49:00   3.75      17592.0  United Kingdom      False
0 / 16




#17
['C489459' '90003D' 'CRYSTAL PAIR HEART HAIR SLIDES' -3
 Timestamp('2009-12-01 10:44:00') 3.75 17592.0 'United Kingdom' True]
    Invoice StockCode                     Description  Quantity  \
258  489462    90003D  CRYSTAL PAIR HEART HAIR SLIDES         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
258 2009-12-01 10:49:00   3.75      17592.0  United Kingdom      False
0 / 17




#18
['C489459' '90003B' 'ROSE COLOUR PAIR HEART HAIR SLIDES' -3
 Timestamp('2009-12-01 10:44:00') 3.75 17592.0 'United Kingdom' True]
    Invoice StockCode                         Description  Quantity  \
259  489462    90003B  ROSE COLOUR PAIR HEART HAIR SLIDES         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
259 2009-12-01 10:49:00   3.75      17592.0  United Kingdom      False
0 / 18




#19
['C489459' '90209C' 'PINK ENAMEL+GLASS HAIR COMB' -3
 Timestamp('2009-12-01 10:44:00') 2.1 17592.0 'United Kingdom' True]
    Invoice StockCode                  Description  Quantity  \
260  489462    90209C  PINK ENAMEL+GLASS HAIR COMB         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
260 2009-12-01 10:49:00    2.1      17592.0  United Kingdom      False
0 / 19




#20
['C489459' '90209A' 'PURPLE ENAMEL+GLASS HAIR COMB' -3
 Timestamp('2009-12-01 10:44:00') 2.1 17592.0 'United Kingdom' True]
    Invoice StockCode                    Description  Quantity  \
261  489462    90209A  PURPLE ENAMEL+GLASS HAIR COMB         3

            InvoiceDate  Price  Customer ID         Country  Cancelled
261 2009-12-01 10:49:00    2.1      17592.0  United Kingdom      False
0 / 20




#21
['C489459' '90082D' 'DIAMANTE BOW BROOCH BLACK COLOUR' -2
 Timestamp('2009-12-01 10:44:00') 6.35 17592.0 'United Kingdom' True]
    Invoice StockCode                       Description  Quantity  \
262  489462    90082D  DIAMANTE BOW BROOCH BLACK COLOUR         2

            InvoiceDate  Price  Customer ID         Country  Cancelled
262 2009-12-01 10:49:00   6.35      17592.0  United Kingdom      False
0 / 21




#22
['C489476' 22149 'FELTCRAFT 6 FLOWER FRIENDS' -6
 Timestamp('2009-12-01 10:55:00') 2.1 13293.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
0 / 22




#23
['C489503' 21540 'DAIRY MAID CERAMIC BUTTER DISH' -2
 Timestamp('2009-12-01 11:04:00') 4.25 16011.0 'United Kingdom' True]
    Invoice StockCode                     Description  Quantity  \
719  489533     21540  DAIRY MAID CERAMIC BUTTER DISH         2

            InvoiceDate  Price  Customer ID         Country  Cancelled
719 2009-12-01 12:02:00   4.25      16011.0  United Kingdom      False
0 / 23




#25
['C489504' 85083 'KISS REINDEER SCANDINAVIAN STOCKING' -6
 Timestamp('2009-12-01 11:10:00') 2.55 13916.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 25




#26
['C489518' 20892 'SET/3 TALL GLASS CANDLE HOLDER PINK' -2
 Timestamp('2009-12-01 11:35:00') 12.75 15461.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 26




#27
['C489518' 85048 '15CM CHRISTMAS GLASS BALL 20 LIGHTS' -1
 Timestamp('2009-12-01 11:35:00') 7.95 15461.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 27




#28
['C489518' 22138 'BAKING SET 9 PIECE RETROSPOT ' -1
 Timestamp('2009-12-01 11:35:00') 4.95 15461.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 28




#29
['C489524' 21258 'VICTORIAN SEWING BOX LARGE' -1
 Timestamp('2009-12-01 11:48:00') 12.75 15614.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 29




#30
['C489527' 21041 'RED SPOTTY OVEN GLOVE DOUBLE' -3
 Timestamp('2009-12-01 11:50:00') 2.95 16128.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 30




#31
['C489527' 21173 'LOO ROLL  METAL SIGN ' -12
 Timestamp('2009-12-01 11:50:00') 1.65 16128.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 31




#32
['C489527' '85124A' 'PINK JUICY FRUIT PHOTO FRAME' -6
 Timestamp('2009-12-01 11:50:00') 2.55 16128.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 32




#33
['C489528' 85048 '15CM CHRISTMAS GLASS BALL 20 LIGHTS' -1
 Timestamp('2009-12-01 11:50:00') 7.95 16714.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 33




#34
['C489530' '72803A' 'ROSE SCENT CANDLE JEWELLED DRAWER' -1
 Timestamp('2009-12-01 11:56:00') 4.25 14748.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 34




#35
['C489534' 35832 'WOOLLY HAT SOCK GLOVE ADVENT STRING' -1
 Timestamp('2009-12-01 12:09:00') 5.95 12615.0 'France' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 35




#36
['C489535' 'D' 'Discount' -1 Timestamp('2009-12-01 12:11:00') 9.0 15299.0
 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 36




#37
['C489535' 'D' 'Discount' -1 Timestamp('2009-12-01 12:11:00') 19.0 15299.0
 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 37




#38
['C489538' 22183 'CAKE STAND VICTORIAN FILIGREE MED' -4
 Timestamp('2009-12-01 12:18:00') 6.75 15796.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 38




#39
['C489538' 'POST' 'POSTAGE' -1 Timestamp('2009-12-01 12:18:00') 9.58
 15796.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 39




#40
['C489541' 21254 'SET OF KITCHEN WALL  STICKERS' -4
 Timestamp('2009-12-01 12:18:00') 2.95 15091.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 40




#41
['C489543' 35400 'WOODEN BOX ADVENT CALENDAR ' -2
 Timestamp('2009-12-01 12:19:00') 8.95 14292.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 41




#42
['C489549' 35400 'WOODEN BOX ADVENT CALENDAR ' -2
 Timestamp('2009-12-01 12:33:00') 7.95 13768.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 42




#43
['C489551' 85048 '15CM CHRISTMAS GLASS BALL 20 LIGHTS' -1
 Timestamp('2009-12-01 12:35:00') 6.95 17641.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 43




#44
['C489553' '35004S' 'SET OF 3 SILVER FLYING DUCKS' -1
 Timestamp('2009-12-01 12:41:00') 6.35 13545.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 44




#45
['C489553' '35001W' 'HAND OPEN SHAPE DECO.WHITE' -6
 Timestamp('2009-12-01 12:41:00') 3.49 13545.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 45




#46
['C489554' 85042 'ANTIQUE LILY FAIRY LIGHTS' -3
 Timestamp('2009-12-01 12:43:00') 4.25 13767.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 46




#47
['C489554' '35001B' 'HAND OPEN SHAPE BLACK' -2
 Timestamp('2009-12-01 12:43:00') 2.95 13767.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 47




#48
['C489555' 21260 'FIRST AID TIN' -6 Timestamp('2009-12-01 12:44:00') 3.25
 16955.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
1 / 48




#59
['C489568' 22107 'PIZZA PLATE IN BOX' -1 Timestamp('2009-12-01 13:20:00')
 3.75 15005.0 'United Kingdom' True]
       Invoice StockCode         Description  Quantity         InvoiceDate  \
111700  500094     22107  PIZZA PLATE IN BOX         1 2010-03-04 12:24:00

        Price  Customer ID         Country  Cancelled
111700   3.75      15005.0  United Kingdom      False
11 / 59




#60
['C489568' 82483 'WOOD 2 DRAWER CABINET WHITE FINISH' -1
 Timestamp('2009-12-01 13:20:00') 5.95 15005.0 'United Kingdom' True]
       Invoice StockCode                         Description  Quantity  \
254793  513961     82483  WOOD 2 DRAWER CABINET WHITE FINISH         1

               InvoiceDate  Price  Customer ID         Country  Cancelled
254793 2010-06-29 15:15:00   5.95      15005.0  United Kingdom      False
11 / 60




#61
['C489568' 22138 'BAKING SET 9 PIECE RETROSPOT ' -1
 Timestamp('2009-12-01 13:20:00') 4.95 15005.0 'United Kingdom' True]
       Invoice StockCode                    Description  Quantity  \
165643  505024     22138  BAKING SET 9 PIECE RETROSPOT          1

               InvoiceDate  Price  Customer ID         Country  Cancelled
165643 2010-04-19 14:21:00   4.95      15005.0  United Kingdom      False
11 / 61




#62
['C489568' 21218 'RED SPOTTY BISCUIT TIN' -1
 Timestamp('2009-12-01 13:20:00') 3.75 15005.0 'United Kingdom' True]
       Invoice StockCode             Description  Quantity  \
38141   492540     21218  RED SPOTTY BISCUIT TIN         1
111713  500094     21218  RED SPOTTY BISCUIT TIN         1
111730  500094     21218  RED SPOTTY BISCUIT TIN         1
191928  507613     21218  RED SPOTTY BISCUIT TIN         1

               InvoiceDate  Price  Customer ID         Country  Cancelled
38141  2009-12-17 13:36:00   3.75      15005.0  United Kingdom      False
111713 2010-03-04 12:24:00   3.75      15005.0  United Kingdom      False
111730 2010-03-04 12:24:00   3.75      15005.0  United Kingdom      False
191928 2010-05-10 14:06:00   3.75      15005.0  United Kingdom      False
11 / 62




#64
['C489570' '15056N' 'EDWARDIAN PARASOL NATURAL' -1
 Timestamp('2009-12-01 13:28:00') 5.95 15967.0 'United Kingdom' True]
       Invoice StockCode                Description  Quantity  \
393769  527246    15056N  EDWARDIAN PARASOL NATURAL         1

               InvoiceDate  Price  Customer ID         Country  Cancelled
393769 2010-10-15 12:20:00   5.95      15967.0  United Kingdom      False
12 / 64




#65
['C489570' 85103 ' SILVER T-LIGHT SETTING' -1
 Timestamp('2009-12-01 13:28:00') 6.75 15967.0 'United Kingdom' True]
       Invoice StockCode             Description  Quantity  \
355875  523971     85103  SILVER T-LIGHT SETTING         1

               InvoiceDate  Price  Customer ID         Country  Cancelled
355875 2010-09-26 13:53:00   6.75      15967.0  United Kingdom      False
12 / 65




#66
['C489570' 20894 'HANGING BAUBLE T-LIGHT HOLDER LARGE' -1
 Timestamp('2009-12-01 13:28:00') 2.95 15967.0 'United Kingdom' True]
     Invoice StockCode                          Description  Quantity  \
1455  489571     20894  HANGING BAUBLE T-LIGHT HOLDER LARGE         1

             InvoiceDate  Price  Customer ID         Country  Cancelled
1455 2009-12-01 13:29:00   2.95      15967.0  United Kingdom      False
12 / 66




#67
['C489577' 37503 'TEA TIME CAKE STAND IN GIFT BOX' -3
 Timestamp('2009-12-01 13:38:00') 9.95 14030.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
12 / 67




#68
['C489577' 22127 'PARTY CONES CARNIVAL ASSORTED' -48
 Timestamp('2009-12-01 13:38:00') 1.25 14030.0 'United Kingdom' True]
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Cancelled]
Index: []
12 / 68




#70
['C489578' 21481 'FAWN BLUE HOT WATER BOTTLE' -1
 Timestamp('2009-12-01 13:40:00') 2.95 17091.0 'United Kingdom' True]
Empty DataFrame

KeyboardInterrupt:

In [738]:
data['Cancelled'] = (data['Invoice'].str[0] == 'C')

In [739]:
data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'Cancelled'],
      dtype='object')

In [740]:
data['Cancelled'].value_counts()
data[['Invoice', 'Cancelled']].drop_duplicates()['Cancelled'].value_counts()

False    45336
True      8292
Name: Cancelled, dtype: int64

In [741]:
data['StockCode'].value_counts()

85123A       5829
22423        4424
85099B       4216
21212        3318
20725        3259
             ...
DCGS0067        1
DCGS0066P       1
DCGS0071        1
DCGS0073        1
90197A          1
Name: StockCode, Length: 5305, dtype: int64

In [742]:
grouped_data = data.groupby('Invoice')

In [743]:
aggregated = {
    "Invoice": [],
    "EarliestInvoiceDate": [],
    "LatestInvoiceDate": [],
    "PriceSum": [],
    "TotalQuantity": [],
    "DifferentProducts": [],
    "Product1Quantity": [],
    "Product2Quantity": [],
    "Product3Quantity": [],
    "DifferentProducts": [],
    "Manual": [],
    "Discount": [],
    "ManualSum": [],
    "DiscountSum": [],
    "Cancelled": [],
}

for group_name, df_group in grouped_data:
    if all(df_group['StockCode'].isin(['M', 'm', 'S', 'B', 'D'])):
        continue
    assert not any(df_group['StockCode'] == 'S')

    products = ~df_group['StockCode'].isin(['M', 'm', 'D'])

    assert all(df_group['Invoice'] == group_name)
    aggregated['Invoice'].append(group_name)

    group_invoice_dates = df_group['InvoiceDate'].sort_values()
    aggregated['EarliestInvoiceDate'].append(group_invoice_dates.iloc[0])
    aggregated['LatestInvoiceDate'].append(group_invoice_dates.iloc[-1])

    aggregated['PriceSum'].append((df_group['Price'] * df_group['Quantity']).sum())
    aggregated['TotalQuantity'].append(df_group['Quantity'].sum())
    aggregated['DifferentProducts'].append(products.value_counts()[True])

    sorted_group = df_group[products].sort_values(by='Quantity')
    aggregated['Product1Quantity'].append(sorted_group['Quantity'].iloc[0])
    if len(sorted_group) > 2:
        aggregated['Product3Quantity'].append(sorted_group['Quantity'].iloc[2])
    else:
        aggregated['Product3Quantity'].append(0)
    if len(sorted_group) > 1:
        aggregated['Product2Quantity'].append(sorted_group['Quantity'].iloc[1])
    else:
        aggregated['Product2Quantity'].append(0)

    aggregated['Manual'].append(0)
    aggregated['Discount'].append(0)
    aggregated['ManualSum'].append(0)
    aggregated['DiscountSum'].append(0)

    stock_code_idx = list(df_group.columns).index('StockCode')
    price_idx = list(df_group.columns).index('Price')
    quantity_idx = list(df_group.columns).index('Price')
    
    for row in df_group.values:
        if row[stock_code_idx] in {'M', 'm'}:
            aggregated['Manual'][-1] += 1
            aggregated['ManualSum'][-1] += row[price_idx] * row[quantity_idx]
        elif row[stock_code_idx] == 'D':
            aggregated['Discount'][-1] += 1
            aggregated['DiscountSum'][-1] += row[price_idx] * row[quantity_idx]
        
    aggregated['PriceSum'][-1] -= aggregated['DiscountSum'][-1] * 2

    aggregated['Cancelled'].append(str(group_name)[0] == 'C')

In [744]:
old_agg_data = pd.DataFrame(aggregated)
old_agg_data.columns

Index(['Invoice', 'EarliestInvoiceDate', 'LatestInvoiceDate', 'PriceSum',
       'TotalQuantity', 'DifferentProducts', 'Product1Quantity',
       'Product2Quantity', 'Product3Quantity', 'Manual', 'Discount',
       'ManualSum', 'DiscountSum', 'Cancelled'],
      dtype='object')

In [745]:
print(len(old_agg_data))
print(len(old_agg_data.drop_duplicates(subset=['PriceSum', 'TotalQuantity'], keep=False)))
# old_agg_data = old_agg_data.drop_duplicates(subset=['PriceSum'], keep=False)
# old_agg_data = old_agg_data.drop_duplicates(subset=['TotalQuantity'], keep=False)
print(len(old_agg_data))
agg_data = old_agg_data

# agg_data = old_agg_data.drop_duplicates(subset=['PriceSum', 'TotalQuantity'], keep=False)

52734
38203
52734

In [746]:
ready_data = agg_data.drop(columns=['Invoice', 'EarliestInvoiceDate', 'LatestInvoiceDate'])
# 'Manual', 'ManualSum', 'Discount', 'DiscountSum', 'EarliestInvoiceDate', 'LatestInvoiceDate', 'PriceSum'
ready_data['InvoiceDate'] = agg_data['EarliestInvoiceDate'].dt.month * 31 + agg_data['EarliestInvoiceDate'].dt.day
ready_data['InvoiceHour'] = agg_data['EarliestInvoiceDate'].dt.hour

In [747]:
train_data, valid_data = train_test_split(ready_data, random_state=421)
train_X, train_y = train_data.drop(columns=['Cancelled']), train_data['Cancelled']
valid_X, valid_y = valid_data.drop(columns=['Cancelled']), valid_data['Cancelled']

In [748]:
# plt.hist(train_data['TimeSpent'], bins=list(range(0, 20, 1)));

In [749]:
train_data.corr()

,PriceSum,TotalQuantity,DifferentProducts,Product1Quantity,Product2Quantity,Product3Quantity,Manual,Discount,ManualSum,DiscountSum,Cancelled,InvoiceDate,InvoiceHour
PriceSum,1.000000,0.683048,0.279383,0.680311,0.100388,0.117807,0.005087,-0.000041,0.013184,0.002577,-0.068241,0.030764,-0.022327
TotalQuantity,0.683048,1.000000,0.127947,0.595243,0.268405,0.289748,0.001498,0.000260,-0.001458,0.002452,-0.072779,0.010259,-0.024220
DifferentProducts,0.279383,0.127947,1.000000,-0.021882,-0.025360,-0.025505,0.059230,-0.003453,0.008162,-0.002823,-0.174802,0.048974,0.042190
Product1Quantity,0.680311,0.595243,-0.021882,1.000000,0.113890,0.083656,-0.003943,0.001223,-0.000958,0.002091,-0.002061,0.006872,-0.009189
Product2Quantity,0.100388,0.268405,-0.025360,0.113890,1.000000,0.548532,-0.004600,0.003639,-0.000794,0.008145,-0.013806,0.002168,-0.013629
Product3Quantity,0.117807,0.289748,-0.025505,0.083656,0.548532,1.000000,-0.005188,0.003130,-0.000713,0.007576,-0.029384,0.001260,-0.015714
Manual,0.005087,0.001498,0.059230,-0.003943,-0.004600,-0.005188,1.000000,-0.001021,0.185063,-0.000960,-0.000392,0.002803,0.021623
Discount,-0.000041,0.000260,-0.003453,0.001223,0.003639,0.003130,-0.001021,1.000000,-0.000239,0.850606,0.025596,0.000711,0.008754
ManualSum,0.013184,-0.001458,0.008162,-0.000958,-0.000794,-0.000713,0.185063,-0.000239,1.000000,-0.000225,0.007796,0.002077,0.002480
DiscountSum,0.002577,0.002452,-0.002823,0.002091,0.008145,0.007576,-0.000960,0.850606,-0.000225,1.000000,0.024076,0.004615,0.006511
Cancelled,-0.068241,-0.072779,-0.174802,-0.002061,-0.013806,-0.029384,-0.000392,0.025596,0.007796,0.024076,1.000000,-0.009605,0.060512
InvoiceDate,0.030764,0.010259,0.048974,0.006872,0.002168,0.001260,0.002803,0.000711,0.002077,0.004615,-0.009605,1.000000,0.017435
InvoiceHour,-0.022327,-0.024220,0.042190,-0.009189,-0.013629,-0.015714,0.021623,0.008754,0.002480,0.006511,0.060512,0.017435,1.000000

In [750]:
train_data['InvoiceDate'].value_counts()

373    348
374    339
380    334
345    283
379    276
      ...
127     15
156     15
75      13
106     12
68       9
Name: InvoiceDate, Length: 352, dtype: int64

In [751]:
model = xgb.XGBClassifier()
model.fit(train_X, train_y)
pred = model.predict(valid_X)
# print(train_y)

print(cohen_kappa_score(valid_y, pred))
print(accuracy_score(valid_y, pred))
# print(export_text(model))

0.7988697963838929
0.9500151699029126

In [752]:
print(len(valid_y))

13184

In [753]:
rand = (np.random.uniform(0, 1, len(valid_y)) > train_data['Cancelled'].value_counts()[False] / len(train_data['Cancelled'])).astype(np.int64)
print(cohen_kappa_score(valid_y, rand))
print(accuracy_score(valid_y, rand))

0.016559194322389947
0.7594053398058253

In [754]:
zeros = np.zeros(len(valid_y))
print(cohen_kappa_score(valid_y, zeros))
print(accuracy_score(valid_y, zeros))

0.0
0.8596783980582524